@import "../../styles/constants.scss";

.container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  padding: 15px 50px;
  height: 75px;
  background-color: white;
  z-index: 10;
  .logo {
    width: 80px;
    height: 80px;
    position: relative;
    margin: -20px 0;
  }
  .nav {
    margin-left: 50px;
    ul {
      display: flex;
      align-items: center;
      gap: 50px;
      list-style: none;
      li {
        a {
          transition: 200ms ease;
          font-size: 1.1em;
          font-weight: 500;
          &:hover {
            color: change-color($primaryColor, $alpha: 0.5);
          }
        }
        &.selected {
          a {
            color: $primaryColor;
          }
        }
      }
    }
  }
  .button {
    margin-left: auto;
  }
  .vault__id {
    margin-left: auto;
    font-size: 1.1em;
    font-weight: 400;
    em {
      font-weight: 600;
      font-style: normal;
      color: $secondaryColor;
    }
  }
  .sign__out {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
      path {
        fill: $secondaryColor;
      }
    }
  }
}
