$primaryColor: #39d4ca;
$secondaryColor: #142d43;
$gray: #efefef;
$mediumDarkGray: #706f6f;
$darkGray: #4f4f4f;
$black: #1e1e1e;
$tabletBreakpoint: 1200px;
$mobileBreakpoint: 800px;
$maxWidth: 1500px;
$red: #e44646;
$green: #129c77;
